{% extends 'metric/base.html' %}

{% block content %}
<main>
  <div class="container">
    <h1 class="unit-title">Length Unit Converter</h1>
  </div>
  <div class="container form-container">
    <form action="{% url 'length-converter' %}" method="POST"
      enctype="multipart/form-data">
      {% csrf_token %}
      <div class="row">
        <div class="col-3">
          <h5>From:</h5>
          {{ form.user_input }}
          {{ form.user_selection }}
        </div>
        <div class="col-3">
          <h5>To:</h5>
          <input type="text" class="form-control form-result"
            value="{{ result }}" disabled>
          {{ form.length_selection }}
          <button type="submit" class="btn btn-info btn-sm">Convert</button>
        </div>
      </div>
    </form>
  </div>
  <div class="container formula-container">
    {% if formula != null %}
    <p class="formula"><strong>Formula</strong>: {{ formula }}</p>
    {% else %}

    {% endif %}
  </div>
</main>
{% endblock content %}